/** CSS STYLE **/

.hello {
  display: block;

  color: #fff;
}

.orange {
  color: #FE8A02;
}

.white {
  color: #fff;
}

.white_opasity50 {
  color: #d7ccc0;
}

.light {
  color: #f5f4f0;
}

.main_color {
  color: #fe8a02;
}

.main_dark {
color: #42413c;
}

.dark {
  color: #2a2626;
}

.dark_opasity50 {
  color: #908d8b;
}

.brown {
  color: #b09a81;
}

.blue {
  color: #1085c5;
}

body {
  background-color: #f5f4f0;
}


.font_main {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  font-family: 'Neucha', cursive;
  font-size: 72px;
  line-height: 1.2em;
  color: #2A2626;
  position: relative;
}

.h2_section2 {
margin-top: 200px;
margin-bottom: 30px;
padding-top: 100px;
text-align: center;
display: block;
}

h2 {
  font-family: 'Neucha', cursive;
  font-size: 60px;
  line-height: 1.2em;
  color: #2A2626;
  display: block;
}

h3 {
  font-family: 'Neucha', cursive;
  font-size: 34px;
  line-height: 1.2em;
  color: #2A2626;
}

section {
  max-height: 914px;
  max-width: 1110px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin: 0 auto;
  position: relative;
}

header {
  display: block;
}

.img_head {
  z-index: -1;
  height: 525px;
  position: absolute;
  top: -55px;
  right: -270px;
}

header::before {
  content: " ";
  background: url(../assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  width: 1440px;
  height: 914px;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.columns {
  margin-top: 185px;
  margin-bottom: 40px;
  white-space: nowrap;
	width: 540px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
}

.head1 {
  vertical-align: top;
  white-space: normal;
  display: inline-block;
  margin-right: 30px;
  width: 540px;
  height: 140px;
}

.head2 {
  vertical-align: top;
  white-space: normal;
  display: inline-block;
  width: 540px;
  height: 140px;
}

.button_head {
  position: absolute;
  right: 365px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: bold;
   background-color: #FE8A02;
   border: none;
   width: 148px;
   height: 50px;
   }

   main {
    display: block;
    max-height: 914px;
    position: relative;
    background-color: #FFFFFF;
   }

   .video {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    display: block;
    margin: 0 auto;
   }